@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body
    {
        background-image: linear-gradient(to right, #194431, #89B173);
    }
main
    {
        background-color: white;
        border-radius: 10px;
        width: 600px;
        padding: 10px;
        margin: auto;
        box-shadow: 5px 5px 15px #11393b96;
    }
p {
    text-align: justify;

}
h1
    {
        color: #F0D17F;
        text-align: center;
        text-shadow: 1px 1px 2px #97916cb9;
    }
h2 
    {
        color: #11393B;
    }